APP_VERSION=v8.3.6
APP_PORT=8000

APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:/APP_KEY
APP_URL=https://inventory.deti-makerlab.ua.pt
APP_TIMEZONE=Europe/Lisbon
APP_LOCALE=en-US

DB_CONNECTION=mysql
DB_HOST=snipeit-db
DB_PORT=3306
DB_DATABASE=snipeit
DB_USERNAME=snipeit
DB_PASSWORD=CHANGE_ME_SNIPEIT_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_SNIPEIT_ROOT_PASSWORD
MYSQL_DATABASE=snipeit
MYSQL_USER=snipeit
MYSQL_PASSWORD=CHANGE_ME_SNIPEIT_DB_PASSWORD

APP_TRUSTED_PROXIES=172.16.0.0/12,10.0.0.0/8,192.168.0.0/16
APP_FORCE_TLS=true

MAIL_MAILER=smtp
MAIL_HOST=YOUR_SMTP_HOST
MAIL_PORT=587
MAIL_USERNAME=YOUR_SMTP_USER
MAIL_PASSWORD=YOUR_SMTP_PASS
MAIL_FROM_ADDR=noreply@deti-makerlab.ua.pt
MAIL_FROM_NAME='Snipe-IT'
MAIL_REPLYTO_ADDR=noreply@deti-makerlab.ua.pt
MAIL_REPLYTO_NAME='Snipe-IT'