# apps/api/.env.example

APP_ENV=production
APP_DEBUG=false

DATABASE_URL=postgresql+psycopg://makerlab_app:password@postgres:5432/makerlab
POSTGRES_USER=makerlab_app
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=makerlab

SNIPEIT_BASE_URL=http://snipeit
SNIPEIT_API_TOKEN=YOUR_SNIPEIT_API_TOKEN
eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiNDQyZTliZjJjNjk5NWRkYWE1ODNkOTdhYWY0ZjFlNGQ2ZjkyYTA0MjVkNzI0NzQ3YTBlMDhkZjJlOTgyMWYwZTI1MGZmNGE5MzMxOWUyZDciLCJpYXQiOjE3NzU2NjA4NzQuMzI3NTExLCJuYmYiOjE3NzU2NjA4NzQuMzI3NTE0LCJleHAiOjI0MDY4MTI4NzQuMzIzNzY1LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.kyfl6cxPKWtQhMkFzLQIrUWWZfhRYxnnkzwE-2AkfziLZiY0Z3m-i_Yr-gQKq89RpqxHl6x7CLMuccn_BODZym96ItMBDc7u-frPc6ib5JY1Z5PVLXDEcmwYl2apPNoQmwzRiVsahP3qrP7QuQE4jzpx0d6iKFMumf9Agf5IzR0Gmrws6MAN7GNMdlf_NxgwC1m_lnGvyIxr1NUg4P01KUBjc9HQuWfY57CIEwE0kZoCo8vBmZK6aKg8kH77PKsWyYgRByglHf7FB2x7oR_hzWuKTWaSZJ3vQzabAnWO3hIK9U0J0fZvud2f19CEruAhAHtZFeFx5BDhFOiVf27WBKMYCQ_k_C24saEUicvs1IDBsdNvfHjuloxN4m3ZolpA76DSBMgkkAs9_nWNN2TeRTYHxptp_UG8-RIFFIPeNSZMgWIc3HrugAoiLwSRCZ3rq9f6GgZBEluauJ_EXiXrR1xtzeOxHPMOwPZguVYTJEip36G5kqwZRspdAuyW1mX2tJ2S2CQQgEhL2FkULrIyHFN9a9jDItFF7GV4JN5pktfDMZ7vbN8vy8MP3qGc_qxRKf425IX64Mjyf1bmAZkZI_BRjlm0Pxky0enhp9lKhqyELYnjHnjweleV_OP-vPzjmXVtERhj6hu3qhJqDnLJsWSBgYh3HuJ_qrhIU7I27ig

SSO_CALLBACK_URL=https://deti-makerlab.ua.pt/auth/auth

# OAuth1 / Universidade
DML_AUTH_KEY=your_client_key_here
DML_AUTH_SECRET=your_client_secret_here

# JWT
JWT_SECRET_KEY=supersecretkey
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Frontend
FRONTEND_URL=http://localhost:3000