# apps/api/.env.example

APP_ENV=production
APP_DEBUG=false

DATABASE_URL=postgresql+psycopg://makerlab_app:password@postgres:5432/makerlab
POSTGRES_USER=makerlab_app
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=makerlab

SNIPEIT_BASE_URL=http://snipeit
SNIPEIT_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMGJkN2NhNTAzOTY3ZDgyZWNkMzYwYTA3NDhlZTNjYjViNWJkMzUyN2ExNmE0OTFlODVhYjNmZDVjN2IwZTcyZTBiMmI3N2QxOTA4Y2NhYzIiLCJpYXQiOjE3NzYyNzYyNTMuMjE5OTQ5LCJuYmYiOjE3NzYyNzYyNTMuMjE5OTU1LCJleHAiOjI0MDc0MjgyNTMuMTgzNjA4LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.Jdv4BTGzB3UkZsqgXCK1CX6E9T0BNFk4T4pFeB0Te9Dn5wQn3W4OrbgGzuBKWajYR9e-T44RHg-_U5ZfX9sH3v0LLs2ROuzL8zd_z0EpC2uQKA4tiDuNwNbQsRqDrzH4kI9Ppwn3HV6Gv3lS3VbHDs7QDHI36TD8thoNonLpOjnHO6KAowU_ALawczG-4jensZst9Da0ezon-x84uTBeoYBer_BlgETrKAK_W8q7raT02y8L8s-ip_ML_HUrWElPGsp7syPl6er_i-fvIfYZ5qoarvme5MlAj0hUiDWmyg87ourzAl4Hx3Y2xEKdKn7aHM26OLnL86fGOAAKPs9ApJ4ajQwODc3dt2CKZvZXxiHA53Vbve8SZeWCqUhTo8k5DlNwU1oqhBF49iV_u0Xznxs6gjGFHAxdxply9i-rGGRUajrWsIyqTIGgwmJubC7xy2AMSuCWidtzyYWBi42btZ3qLna9-0pvQzDAG0PbMwlcbXYoMXEV_u7NgoikhJN_h6q90EeCzcGwkom0-N3uHY515fM2zi8SJh8EmwCq7YnV1xwb_KPA8oyDzt-iBzNFJriwV2qDxwIdM886uQnyFmkzhTxHEcoskNr7kr7eE_lOpns1a3sRZ3Fc2kjjX9eEY6uTEehaiMTdtphTvURYwz_ema2oBKmx3wE44HVXQuU

SSO_CALLBACK_URL=https://deti-makerlab.ua.pt/auth/auth

# OAuth1 / Universidade
DML_AUTH_KEY=your_client_key_here
DML_AUTH_SECRET=your_client_secret_here

# JWT
JWT_SECRET_KEY=supersecretkey
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Frontend
FRONTEND_URL=https://deti-makerlab.ua.pt