# apps/api/.env.example

POSTGRES_USER=makerlab_app
POSTGRES_PASSWORD=password
POSTGRES_SERVER=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=makerlab

# OAuth1 / Universidade
DML_AUTH_KEY=your_client_key_here
DML_AUTH_SECRET=your_client_secret_here

# JWT
JWT_SECRET_KEY=supersecretkey
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Frontend
FRONTEND_URL=http://localhost:3000